@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Marck+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__body {
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
}

.header {
  height: 1080px;
  background: url("..//../img/bg_header_743 (1).png") center/100% 100% no-repeat;
}
.header__row {
  padding: 65px 0;
}
.header__image {
  padding-bottom: 160px;
}
.header__text p {
  color: #ffffff;
}
.header__text p:first-child {
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding-bottom: 25px;
}
.header__text p:last-child {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
  position: relative;
  padding-bottom: 50px;
}
.header__text p:last-child:after {
  content: "";
  position: absolute;
  width: 105px;
  bottom: 0;
  height: 2px;
  margin-left: -196px;
  background-color: #ffffff;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 182px;
  height: 47px;
  margin: 230px auto 75px auto;
  border: 1px solid;
  border-color: white;
}
.header__button a {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.menu {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}
.menu__body {
  max-width: 425px;
  margin: 0 auto;
}
.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.menu__item {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #3c3c3c;
}
.menu__item_active {
  content: "";
  color: #ada074;
}

.about__body {
  max-width: 850px;
  margin: 0 auto;
}
.about__title {
  padding: 130px 0 30px 0;
}
.about__subtitle {
  padding: 30px 0 70px 0;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
  text-align: center;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 20px;
}
.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 20px;
}

.item-about__icon {
  margin: 0 auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-about__title {
  padding: 40px 0 35px 0;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 3.52px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.item-about__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
  padding-bottom: 75px;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
  text-align: center;
  position: relative;
}
.title:after {
  content: "";
  position: absolute;
  width: 80px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin-left: -39px;
}

.portfolio {
  background-color: #f3f3f3;
}
.portfolio__body {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.portfolio__title {
  padding: 110px 0 45px 0;
}
.portfolio__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio__item {
  padding: 45px 0 140px 0;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #3c3c3c;
  text-transform: uppercase;
}
.portfolio__item_active {
  color: #ada074;
}
.portfolio__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio__row {
  padding-bottom: 20px;
}
.portfolio__row:last-child {
  padding: 0;
}
.portfolio__button {
  margin: 0 auto;
  width: 182px;
  height: 47px;
  border: 1px solid #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__button-text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
}

.button-padding {
  padding: 65px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.partners {
  height: 390px;
  background: url("../../img/bg_partners.png") 100% 100% no-repeat;
}
.partners__body {
  max-width: 580px;
  margin: 0 auto;
}
.partners__title {
  text-align: center;
  padding: 100px 0;
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__body {
  max-width: 720px;
  margin: 0 auto;
}
.contact__title {
  padding: 185px 0 45px 0;
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 115px 0 0 0;
}

.leanr_container {
  min-width: 385px;
}

.row-input__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}
.row-input__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row-input__inputs input {
  height: 35px;
}
.row-input__message {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row-input__mess {
  padding-bottom: 20px;
}
.row-input__biginput input {
  height: 120px;
  width: 385px;
}
.row-input__send {
  padding: 45px 0 105px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.word {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
}

.text-body {
  max-width: 250px;
}

.row-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.row-text__title {
  padding-bottom: 40px;
  line-height: 2.4;
  font-weight: 300;
  color: #000000;
}
.row-text__fio {
  padding-bottom: 25px;
  font-weight: 700;
}
.row-text__mms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row-text__flex {
  margin-right: 15px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.row-text__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}
.row-text__email p:last-child {
  font-weight: 700;
  padding-left: 3px;
}

input {
  background-color: #f8f7f7;
  border-top: 1px solid #333;
}

.footer {
  background-color: #3c3c3c;
}
.footer__body {
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
}
.footer__row {
  min-height: 275px;
}
.footer__image {
  padding: 55px 0 40px 0;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__item {
  line-height: 1.2;
  color: #a4a4a4;
}
.footer__info {
  padding-top: 35px;
  line-height: 1.2;
  color: #6c6c6c;
}